<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers</title>
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous"> --}}
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4 mr-2">© Thomas Angeloni 2019</span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/TJANGEL" target="_blank">Reference
                    Work</a>
            </div>
        </div>
    </footer>
</body>

</html>